<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenDropMac</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A6BCA5BD64563B77B849B6B05E7FE924F04842B0</string>
				<key>dateExpires</key>
				<string>17.09.21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A6BCA5BD64563B77B849B6B05E7FE924F04842B0</string>
						<key>dateExpires</key>
						<string>17.09.21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string></string>
								<key>dateExpires</key>
								<string></string>
								<key>type</key>
								<string>Unknown</string>
							</dict>
							<key>name</key>
							<string>OpenDrop_Base.cstemp</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>A5U65N39SD</string>
								<key>name</key>
								<string>Alexander Heinrich</string>
							</dict>
						</dict>
					</array>
					<key>name</key>
					<string>OpenDrop_Base.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A5U65N39SD</string>
						<key>name</key>
						<string>Alexander Heinrich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>OpenDropMac.cstemp</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A5U65N39SD</string>
						<key>name</key>
						<string>Alexander Heinrich</string>
					</dict>
				</dict>
			</array>
			<key>name</key>
			<string>OpenDropMac.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A5U65N39SD</string>
				<key>name</key>
				<string>Alexander Heinrich</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
