<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<array>
		<data>
		VBzvwhGAkehAR+I0SnrE0Y4Y7jDhgoeEwjA4CTREOFs=
		</data>
	</array>
	<key>hashes</key>
	<array>
		<data>
		AufgTZVoYNwF9ILcx+m9P/s63Ha6LE54FIovI9VRM7gG
		</data>
	</array>
	<key>ids</key>
	<array>
		<string>seemoo-iphone8@mr-alex.dev</string>
	</array>
</dict>
</plist>
