<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<array>
		<data>
		Zot7S9Nwl35ttcNh6cPy18KMfuAamvG5yYW+44fz4vg=
		</data>
	</array>
	<key>hashes</key>
	<array>
		<data>
		AxgwkdNao8CF1IFZ0qVtYp8huJ99AkVC5ASvU8b5jBVv
		</data>
	</array>
	<key>ids</key>
	<array>
		<string>seemoo-iphone8@mr-alex.dev</string>
	</array>
</dict>
</plist>
